version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - "/"
      - "/{{cookiecutter.pypi_package_name}}/.github/workflows"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    open-pull-requests-limit: 5
