[buildout]
develop = .

# buildout options
versions = versions
show-picked-versions = true
newest = false
download-cache = ${buildout:directory}/downloads

# conda
# offline: make sure all deps are in environment.yml
conda-offline = true
conda-channels = defaults birdhouse conda-forge
channel-priority = true

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/
extensions = buildout.locallib

parts =
    pywps
    {{ cookiecutter.project_slug }}
    pytest
    sphinx

[settings]
hostname = localhost
http-port = {{ cookiecutter.http_port }}
https-port = {{ cookiecutter.https_port }}
output-port = {{ cookiecutter.output_port }}
log-level = WARN
prefix = ${environment:HOME}/birdhouse
user =
etc-user =
project = {{ cookiecutter.project_name }}
version = {{ cookiecutter.version }}
slug = {{ cookiecutter.project_slug }}

[environment]
recipe = collective.recipe.environment

{{"["}}{{cookiecutter.project_slug}}{{"]"}}
recipe = zc.recipe.egg
eggs =
     {{ cookiecutter.project_slug }}
interpreter = python

[pywps]
recipe = birdhousebuilder.recipe.pywps
# name of our wps
name = ${settings:slug}
# conda
channels = defaults birdhouse
# deployment options
prefix = ${settings:prefix}
user = ${settings:user}
etc-user = ${settings:etc-user}
# service options
hostname = ${settings:hostname}
http-port = ${settings:http-port}
https-port = ${settings:https-port}
http-output-port = ${settings:output-port}
loglevel = ${settings:log-level}
workers = 3
worker-class = sync
# wps options
title = ${settings:project}
abstract = WPS processes for testing and demos.
keywords = WPS, PyWPS, Birdhouse, Python
provider-name = Birdhouse/${settings:project}
provider-url = http://${settings:slug}.readthedocs.org/en/latest/
parallelprocesses = 10
maxprocesses = 30
maxrequestsize = 30mb
logformat = %(asctime)s] [%(levelname)s] %(message)s
# database
database = sqlite
#database = memory
#postgresql+psycopg2://user:password@host:port/dbname
# processing
mode = default
remotehost = localhost
path =

[pytest]
recipe = zc.recipe.egg
eggs =
    pytest
    {{"${"}}{{ cookiecutter.project_slug }}{{":eggs}"}}

[sphinx]
recipe = zc.recipe.egg
eggs =
    sphinx
    {{"${"}}{{ cookiecutter.project_slug }}{{":eggs}"}}

[versions]
buildout.locallib = 0.3.1
collective.recipe.environment = 1.1.0
zc.recipe.deployment = 1.3.0
zc.recipe.egg = 2.0.5
birdhousebuilder.recipe.conda = 0.3.6
birdhousebuilder.recipe.nginx = 0.3.6
birdhousebuilder.recipe.supervisor = 0.3.6
birdhousebuilder.recipe.pywps = 0.9.3
