[buildout]
extends = buildout.cfg

[settings]
# hostname = localhost
# http-port = {{ cookiecutter.http_port }}
# output-port = {{ cookiecutter.output_port }}

## development options
# log-level = WARN
# versions = noversions

## deployment options
# prefix =  /opt/birdhouse
# user = www-data
# etc-user = root

[noversions]
