[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
bumpversion = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
twine = "*"
tox = "*"
"flake8" = "*"
pylint = "*"
{% if cookiecutter.use_pytest == 'y' -%}
pytest = "*"{% endif %}
isort = "*"
yapf = "*"
{% if cookiecutter.use_google_docstrings == 'y' -%}
sphinxcontrib-napoleon = "*"{% endif %}

[packages]
{{cookiecutter.repo_name}} = {path = ".", editable = true}
