pip==9.0.1
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.5.0
tox==2.9.1
coverage==4.5.1
Sphinx==1.7.1
{% if cookiecutter.command_line_interface == 'y' -%}
click==6.7{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==3.4.2
pytest-runner==2.11.1{% endif %}
