pip>=19.2.3
bump2version>=0.5.11
wheel>=0.33.6
#watchdog>=0.9.0
#flake8>=3.7.8
#tox>=3.14.0
#coverage>=4.5.4
Sphinx>=1.8.5
sphinx-book-theme>=0.1.3
#pydata-sphinx-theme>=0.6.3
#twine>=1.14.0

{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click>=7.0{% endif %}

{% if cookiecutter.use_pytest == 'y' -%}
pytest>=6.2.4{% endif %}

loguru
#openpyxl>=3.*
#xlrd>=2.*
#pyodbc>=4.*
pyinstaller>=4.2

