pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==5.2
Sphinx==1.8.5
twine==1.14.0
{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click==7.0{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==5.4.3
pytest-cov==2.10.0
pytest-runner==5.2{% endif %}
