[flake8]
exclude =
    {{cookiecutter.project_slug}}
    .tox
max_line_length = 100
per-file-ignores =
    # Sample code from Sphinx uses no-space comment to show
    # distinction between sample code and comments about it...which
    # affects indentation when in a multi-line literal dictionary
    docs/conf.py:E265,E122
application-import-names = tests
import-order-style = google