# Config file for automatic testing at travis-ci.org

language: python
matrix:
  include:
    - python: 3.8
    - python: 3.7
    - python: 3.6

dist: xenial

sudo: required

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox-travis

# command to run tests, e.g. python setup.py test
script: tox

# deploy new versions to PyPI
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: audreyr
  password:
    secure: PLEASE_REPLACE_ME
  on:
    tags: true
    repo: audreyr/python_boilerplate
    python: 3.8
