[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
pytest = "*"
tox = "*"
cookiecutter = "*"
pytest-cookies = "*"
sphinx = "*"
pyyaml = "*"
invocations = "*"
sphinx-rtd-theme = "*"

[packages]

[requires]
python_version = "3.7"
