pip
wheel
watchdog
tox
coverage
Sphinx
twine
ptpython
pytest
pytest-runner
flake8
flake8-colors
flake8-docstrings
flake8-import-order
pep8-naming
sphinx_rtd_theme
cookiecutter
pytest-cookies
alabaster
