# based on https://raw.githubusercontent.com/python-poetry/poetry/master/.gitignore
*.pyc

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/test.py
/test_*.*

/setup.cfg
MANIFEST.in
/setup.py
/docs/site/*
.mypy_cache

.venv
/releases/*
pip-wheel-metadata
/poetry.toml