{% if cookiecutter.enable_packagecloud | lower == 'yes' %}
PACKAGECLOUD_REPO={{cookiecutter.packagecloud_repo}}
PACKAGECLOUD_MASTER_TOKEN={{cookiecutter.packagecloud_master_token}}
PACKAGECLOUD_TOKEN=
PACKAGECLOUD_READ_TOKEN=
{% endif %}
