{%- if cookiecutter.enable_packagecloud | lower == 'yes' -%}
[[source]]
# Please don't reuse the read token below in other projects. Generate a new one.
url = "https://{{ cookiecutter.packagecloud_read_token }}:@packagecloud.io/syapse/General/pypi/simple"
verify_ssl = true
name = "packagecloud"
{%- endif -%}

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"{{ cookiecutter.project_dash_slug }}" = {editable = true, path = "."}

[dev-packages]
unittest-xml-reporting = "*"
flake8 = "*"

[requires]
python_version = "{%- if cookiecutter.python_2_7|lower == 'yes' %}2.7{%- else %}3.7{%- endif %}"
