[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
# Please don't reuse the read token below in other projects. Generate a new one.
url = "https://$PACKAGECLOUD_READ_TOKEN:@packagecloud.io/syapse/General/pypi/simple"
verify_ssl = true
name = "packagecloud"

[packages]
"e1839a8" = {editable = true, path = "."}

[requires]
