pytest
flake8
pytest-flake8
ipython
pytest-notebook
nbsphinx
nbval
nbconvert
sphinx>=1.7
bump2version
twine
cruft
# Changing dependencies above this comment will create merge conflicts when updating the cookiecutter template with cruft. Add extra requirements below this line. 
