# https://github.com/computationalmodelling/nbval/issues/139 broken by pytest 6.0.0
pytest==5.4.3
flake8
pytest-flake8
ipython
pytest-notebook
nbsphinx
nbval
nbconvert
sphinx>=1.7
bumpversion
twine
cruft
# Changing dependencies above this comment will create merge conflicts when updating the cookiecutter template with cruft. Add extra requirements below this line. 
