version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for pip
  - package-ecosystem: "pip"
    arget-branch: "develop"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "pip dependencies"