changes < 1.0.0
coverage < 4.0.0
{% if cookiecutter.include_cli == 'yes' %}docopt < 1.0.0{% endif %}
flake8 < 3.0.0
mock < 2.0.0
nose < 2.0.0
pinocchio < 1.0.0
python-coveralls < 3.0.0
sphinx-bootstrap-theme < 1.0.0
sphinxcontrib-httpdomain < 2.0.0
testtube < 1.0.0
tox < 2.0.0
unittest2 < 1.0.0
